<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Form</title>
</head>


<body>
<h1>Submit your information</h1>
<p th:if="${message}" th:text="${message}"></p>

<form action="#" th:action="@{/save}" th:object="${user}" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" th:field="*{firstName}" required><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" th:field="*{email}" required><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
